.section-issue .issue {
  background-color: #fff;
  border: 2px solid #666;
}

.section-issue .issue dl.headers dt {
  float: left;
  width: 120px;
  margin-right: 10px;
  padding: 4px 8px 2px 8px;
  font-weight: bold;
  background-color: #8dbdd8;
  color: #000;
  border-bottom: 1px solid #cdcdcd;
}

.section-issue .issue dl.headers dd {
  border-bottom: 1px solid #cdcdcd;
  background-color: #e6EEEE;
  padding: 4px 8px 2px 8px;
}

.section-issue .issue dl.headers {
  border-bottom: 1px solid #666;
}

.section-issue .issue .description {
  padding: 20px;
}

