<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"> 
<head>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="description" content="[% meta.description | html %]">
  <meta name="keywords" content="[% meta.description | html %]">
  <link rel="shortcut icon" href="favicon.ico">

  [%- FOREACH url IN page.css %]
  <link rel="stylesheet" href="[% url | html %]" type="text/css" />
  [%- END %]

  [%- FOREACH url IN page.js %]
  <script type="text/javascript" src="[% url | html %]"></script>
  [%- END -%]

  <title>[% page.title | html %]</title>

</head>
<body class="section-[% page.name | html %]">

