.section-issue .issue {
  background-color: #eee;
  border: 2px solid #666;
}

.section-issue .issue dl.headers dt {
  float: left;
  width: 120px;
  margin-right: 10px;
  padding: 4px 8px 2px 8px;
  font-weight: bold;
  background-color: #0f390f;
  color: #ccc;
}

.section-issue .issue dl.headers dd {
  border-bottom: 1px solid #cdcdcd;
  background-color: #cdc;
  padding: 4px 8px 2px 8px;
}

.section-issue .issue dl.headers {
  border-bottom: 1px solid #666;
}

.section-issue .issue .description {
  padding: 20px;
  overflow: auto;
}

.section-issue .issue .description p {
  padding-bottom: 10px;
}

