body {
  font-family: arial;
  font-size: 12pt;
  color: #3d3d3d;
  background-color: #464;
}

.content {
  margin: 30px 60px;
}


/* Summary page */

table.tablesorter thead tr .header {
  background-image: url(../../../images/themes/forest/bg.gif);
}

table.tablesorter thead tr .headerSortUp {
  background-image: url(../../../images/themes/forest/asc.gif);
}

table.tablesorter thead tr .headerSortDown {
  background-image: url(../../../images/themes/forest/desc.gif);
}

table.tablesorter thead tr th,
table.tablesorter tfoot tr th {
  background-color: #0f390f;
  color: #ccc;
}

table.tablesorter thead input[type="text"].filter {
  border: 1px solid #444;
}

table.tablesorter tbody td {
  background-color: #cdc;
  color: #444;
  border: 1px solid #aaa;
}

table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
  color: #eee;
  background-color: #7a7;
  border-color: #eee;
}

table.tablesorter tbody a,
table.tablesorter tbody a:visited {
  text-decoration: none;
  color: #024;
}

table.tablesorter tbody a:hover {
  text-decoration: underline;
}

table.tablesorter .field-Id,
table.tablesorter .field-Parent {
  text-align: center;
  padding-left: 6px;
  padding-right: 6px;
}

table.tablesorter .field-Id,
table.tablesorter .filter-Id,
table.tablesorter .field-Parent,
table.tablesorter .filter-Parent,
table.tablesorter .filter-Parent select {
  font-family: monospace;
}

table.tablesorter .field-Updated {
  text-align: center;
}

.percentage {
  position: relative;
  display: inline-block;
  margin-right: 8px;
  width: 60px;
  height: 18px;
  background-color: #aaa;
  overflow: hidden;
}

.percentage .mask {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: transparent url(../../../images/themes/forest/percentage-clear.png) repeat 0 0;
}

.percentage .text {
  position: absolute;
  left: 4px;
  top: 2px;
  height: 10;
  color: #dfd;
  font-size: 12px;
}

.percentage .pos {
  display: inline-block;
  background-color: #88f;
}

.percentage.over .pos {
  background-color: #c93;
}

tr.Status-Finished .percentage .mask,
tr.Status-Aborted .percentage .mask {
  background-image: url(../../../images/themes/forest/percentage-shaded.png);
}


/* Individual issue page. */

.section-issue .issue {
  background-color: #ddd;
  border: 1px solid #000;
}

.section-issue .issue dl.headers dt {
  float: left;
  width: 120px;
  margin-right: 10px;
  padding: 4px 8px 2px 8px;
  font-weight: bold;
  background-color: #0f390f;
  color: #ccc;
}

.section-issue .issue dl.headers dd {
  background-color: #cdc;
  padding: 4px 8px 2px 8px;
  border-bottom: 1px solid #666;
}

.section-issue .issue dl.headers {
  border-bottom: 1px solid #aaa;
}

.section-issue .issue a,
.section-issue .issue a:visited {
  text-decoration: none;
  color: #024;
}

.section-issue .issue a:hover {
  text-decoration: underline;
}

.section-issue .issue dl.headers dd.field-Id,
.section-issue .issue dl.headers dd.field-Parent {
  font-family: monospace;
}

.section-issue .issue .description {
  padding: 20px;
  overflow: auto;
  color: #222;
}

.section-issue .issue .description p {
  padding-bottom: 10px;
}

