body {
  font-family: arial;
  font-size: 12pt;
  color: #3d3d3d;
  background-color: #464;
}

.content {
  margin: 30px 60px;
}

table.tablesorter thead tr .header {
  background-image: url(../../../images/themes/forest/bg.gif);
}

table.tablesorter thead tr .headerSortUp {
  background-image: url(../../../images/themes/forest/asc.gif);
}

table.tablesorter thead tr .headerSortDown {
  background-image: url(../../../images/themes/forest/desc.gif);
}

table.tablesorter thead tr th,
table.tablesorter tfoot tr th {
  background-color: #0f390f;
  color: #ccc;
}

table.tablesorter tbody td {
  background-color: #cdc;
  color: #444;
  border: 1px solid #aaa;
}

table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
  color: #eee;
  background-color: #7a7;
  border-color: #eee;
}

table.tablesorter tbody a,
table.tablesorter tbody a:visited {
  text-decoration: none;
  color: #024;
}

table.tablesorter tbody a:hover {
  text-decoration: underline;
}

table.tablesorter .field-Id {
  font-family: monospace;
  text-align: center;
  padding-left: 8px;
  padding-right: 8px;
}

table.tablesorter .field-Updated {
  text-align: center;
}


/* Individual issue page. */

.section-issue .issue {
  background-color: #ddd;
  border: 1px solid #000;
}

.section-issue .issue dl.headers dt {
  float: left;
  width: 120px;
  margin-right: 10px;
  padding: 4px 8px 2px 8px;
  font-weight: bold;
  background-color: #0f390f;
  color: #ccc;
}

.section-issue .issue dl.headers dd {
  background-color: #cdc;
  padding: 4px 8px 2px 8px;
  border-bottom: 1px solid #666;
}

.section-issue .issue dl.headers {
  border-bottom: 1px solid #aaa;
}

.section-issue .issue dl.headers dd.field-Id {
  font-family: monospace;
}

.section-issue .issue .description {
  padding: 20px;
  overflow: auto;
  color: #222;
}

.section-issue .issue .description p {
  padding-bottom: 10px;
}

