[% INCLUDE begin.tt.html %]

<div class="content">

<form action="" method="get">

<table class="tablesorter">
<thead>
[% FOREACH field IN summary_fields %]
  <th>[% field | html %]</th>
[% END %]
</thead>
<thead>
  <tr>
  [% FOREACH field IN summary_fields %]
    <td>
      [%- IF filters.$field %]
      <select class="filter" name="filters.[% field | html %]">
        [%- FOREACH option IN filters.$field %]
          [%- IF option.active %]
        <option value="[% option.value | html %]" selected="true">
          [%- ELSE %]
        <option value="[% option.value | html %]">
          [%- END %]
        [% option.text | html %]
        </option>
        [%- END %]
      </select>
      [%- END %]
    </td>
  [% END %]
  </tr>
</thead>
<tbody>
[% FOREACH issue IN issues %]
  <tr>
  [%- FOREACH field IN summary_fields %]
    [%- IF issue.$field.type == 'String' %]
    <td class="field-[% field %]">[% issue.$field.text | html %]</td>
    [%- ELSIF issue.$field.type == 'Link' %]
    <td class="field-[% field %]"><a href="[% issue.$field.url %]">[% issue.$field.text | html %]</a></td>
    [%- END %]
  [%- END %]
  </tr>
[% END %]
</tbody>
</thead>

</form>

</div>

[% INCLUDE end.tt.html %]
