[% INCLUDE begin.tt.html %]

<div class="content">

<form class="mainform" action="" method="get">

<table class="tablesorter">
<thead>
[% FOREACH field IN summary_fields %]
  <th>[% field | html %]</th>
[% END %]
</thead>
<thead>
  <tr>
  [% FOREACH field IN summary_fields %]
    <td>
      [%- IF filters.$field %]
        [%- IF filters.$field.type == 'select' %]
      <select class="filter" name="filters.value.[% field | html %]">
          [%- FOREACH option IN filters.$field.options %]
            [%- IF option.active %]
        <option value="[% option.value | html %]" selected="true">
            [%- ELSE %]
        <option value="[% option.value | html %]">
            [%- END %]
          [% option.text | html %]
        </option>
          [%- END %]
      </select>
        [%- ELSIF filters.$field.type == 'text' %]
      <input class="filter" type="text" name="filters.value.[% field | html %]" value="[% filters.$field.value | html %]" size="[% filters.$field.size %]" />
        [%- END %]
      [%- END %]
    </td>
  [% END %]
  </tr>
</thead>
<tbody>
[% FOREACH issue IN issues %]
  <tr class="Status-[% issue.Status.text | html %]">
  [%- FOREACH field IN summary_fields %]
    [%- IF issue.$field.type == 'String' %]
    <td class="field-[% field %]">[% issue.$field.text | html %]</td>
    [%- ELSIF issue.$field.type == 'Link' %]
    <td class="field-[% field %]"><a href="[% issue.$field.url %]">[% issue.$field.text | html %]</a></td>
    [%- END %]
  [%- END %]
  </tr>
[% END %]
</tbody>
</thead>

</form>

</div>

[% INCLUDE end.tt.html %]
